@page
@model DigitalAfterlife2._0.Pages.Admin.NextOfKinAdmin.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>NextOfKin</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NextOfKin.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NextOfKin.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NextOfKin.MiddleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NextOfKin.MiddleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NextOfKin.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NextOfKin.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NextOfKin.ZipCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NextOfKin.ZipCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NextOfKin.StreetAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NextOfKin.StreetAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NextOfKin.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NextOfKin.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NextOfKin.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NextOfKin.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NextOfKin.LoginId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NextOfKin.LoginId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="NextOfKin.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
