@page
@model DigitalAfterlife2._0.Pages.Admin.NextOfKinAdmin.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NextOfKin</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NextOfKin.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NextOfKin.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NextOfKin.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NextOfKin.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NextOfKin.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NextOfKin.BirthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NextOfKin.SocialSecurity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NextOfKin.SocialSecurity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NextOfKin.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NextOfKin.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NextOfKin.ZipCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NextOfKin.ZipCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NextOfKin.StreetAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NextOfKin.StreetAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NextOfKin.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NextOfKin.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NextOfKin.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NextOfKin.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NextOfKin.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NextOfKin.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NextOfKin.LoginId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NextOfKin.LoginId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NextOfKin.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NextOfKin.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.NextOfKin?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
