@page
@model DigitalAfterlife2._0.Pages.Admin.NextOfKinAdmin.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NextOfKin[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NextOfKin[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NextOfKin[0].BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NextOfKin[0].SocialSecurity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NextOfKin[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NextOfKin[0].ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NextOfKin[0].StreetAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NextOfKin[0].City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NextOfKin[0].Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NextOfKin[0].PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NextOfKin[0].LoginId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NextOfKin[0].Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.NextOfKin) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SocialSecurity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoginId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
