@page
@model DigitalAfterlife2._0.Pages.Admin.ApiServicesModel
@{
    Layout = "_AdminLayout";
}
@if (Model.StreamingServices != null)
{
    <table class="table mt-3">
        @for (int i = 1; i <= Model.StreamingServices.Count; i++)
        {
            <tr>
                <td>
                    @Model.StreamingServices[i - 1].Id
                </td>
                <td>
                    @Model.StreamingServices[i - 1].Name
                </td>
                <td>
                    <a asp-route-deleteIndex="@i">Ta bort</a>
                </td>
                <td>
                    <a asp-route-editId="@Model.StreamingServices[i - 1].Id">Ändra</a>
                </td>
            </tr>
        }


    </table>
}


<form method="post" class="text-dark">
    <input asp-for="@Model.NewStreamingService.Id" type="hidden" />

    <label asp-for="@Model.NewStreamingService.Name">Namn på tjänst</label>
    <input asp-for="@Model.NewStreamingService.Name" />
    <span asp-validation-for="@Model.NewStreamingService.Name" class="text-danger"></span>

    <input type="submit" class="btn btn-primary" value="Lägg till service" />
</form>