@page
@model DigitalAfterlife2._0.Pages.Admin.PerishedAdmin.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "_AdminLayout";
}

<h1>Detaljer</h1>

<div>
    <h4>Omkommen</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Perished.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Perished.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Perished.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Perished.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Perished.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Perished.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Perished.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Perished.BirthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Perished.SocialSecurity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Perished.SocialSecurity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Perished.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Perished.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Perished.CreditCardNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Perished.CreditCardNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Perished.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Perished.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Perished.Deathcert)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Perished.Deathcert)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Perished.Fullmakt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Perished.Fullmakt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Perished.NextOfKin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Perished.NextOfKin.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Perished?.Id">Ändra</a> |
    <a asp-page="./Index">Tillbaka</a>
</div>
