@page
@model DigitalAfterlife2._0.Pages.Admin.PerishedAdmin.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}

<h1>Översikt</h1>

<p>
    <a class="btn btn-primary" asp-page="Create">Skapa nytt ärende</a>
</p>
<table class="table text-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Perished[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Perished[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Perished[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Perished[0].BirthDate)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.Perished[0].PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Perished[0].CreditCardNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Perished[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Perished[0].Deathcert)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Perished[0].Fullmakt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Perished[0].NextOfKinId)
            </th>
            <th>Admin</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Perished)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)-@Html.DisplayFor(modelItem => item.SocialSecurity)
                </td>                
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreditCardNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deathcert)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fullmakt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NextOfKin.Id)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Ändra</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Detaljer</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Ta bort</a>
                </td>
            </tr>
        }
    </tbody>
</table>
