@page
@model DigitalAfterlife2._0.Pages.Admin.RoleAdmin.IndexModel
@{
    Layout = "_AdminLayout";
}
<h1>Roll-Admin</h1>
@if (@Model.Roles != null)
{
    <div>
        <h3> Befintliga roller</h3>
        @foreach (var role in @Model.Roles)
        {
            <p>@role.Name</p>
        }
    </div>
}

<div>
    <h3>Befintliga Användare:</h3>
    @if (@Model.Users != null)
    {
        <table class="table">
            <th>Username</th>
            @foreach (var role in Model.Roles)
            {
                <th>@role.Name</th>
            }
            @foreach (var user in @Model.Users)
            {
                <tr>
                    <td>
                        @user.UserName
                    </td>
                    @foreach (var role in Model.Roles)
                    {
                        if (await Model._userManager.IsInRoleAsync(user, role.Name))
                        {
                            <td>
                                <a href="?RemoveUserId=@user.Id&Role=@role.Name" class="bg-success text-white p-1">Ja</a>
                            </td>
                        }
                        else
                        {
                            <td>
                                <a href="?AddUserId=@user.Id&Role=@role.Name" class="bg-danger text-white p-1">Nej</a>
                            </td>
                        }
                    }


                </tr>
            }
        </table>
    }

</div>

<div>
    <form method="post">
        <label for="RoleName">Ny roll</label>
        <input name="RoleName" id="RoleName" />
        <input type="submit" value="Skapa roll" />
    </form>
</div>